<% if user_signed_in? -%>
  <h1>Welcome <%= current_user %>!</h1>
  <% if current_user.staff? %>
    <%= link_to "Impersonate a user", impersonate_engine.root_url, method: "DELETE" %>
  <% end %>
  <%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %>
<% else -%>
  <h1>Welcome guest!</h1>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end -%>