<h1>Default impersonation home page</h1>

<p>
  It is recommended you ignore this page and integrate the 
  <code>impersonate_engine.impersonate_user_path(user)</code> URL helpers into your main app.
</p>

<p>Search for a user to impersonate:</p>

<%= form_tag root_url, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @users %>
<% if @users.empty? %>
<p>No users found</p>
<% else %>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= user %>
    <%= link_to "Impersonate", impersonate_user_path(user) %>
  </li>
  <% end %>
</ul>
<% end %>
<% end %>